.rectangle{
    position: absolute;
    width: 730px;
    height: 268px;
    
    background: #FFFFFF;
}
.para{
  position: absolute;
  width: 131px;
  height: 14px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  
  color: #000000;
  
  }

  .tm{
    position: absolute;
    width: 27px;
    height: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;

    color: #000000;

  }
  .start{
    position: absolute;
    width: 60px;
    height: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;

    color: #000000;

  }
  .duration{
    position: absolute;
    width: 49px;
    height: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;

    color: #000000;
}

  .rdate{
    box-sizing: border-box;

    position: absolute;
    width: 219.43px;
    height: 35.07px;

    background: #FFFFFF;
    border: 1px solid #D4D6DB;
    border-radius: 4px;
}

.addbtn{
    position: absolute;
    width: 71px;
    height: 34px;

    background: #1A73E8;
    border-radius: 4px;
}
  
.appointment{
    position: absolute;
width: 695px;
height: 36px;

background: #98F9FF;
}

.busy{
    position: absolute;
width: 13px;
height: 10px;

background: #C4C4C4;
}

.free{
    position: absolute;
width: 13px;
height: 10px;

background:#1DEE19;

}

